/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 oct. 2023, 20:46:26
    Author     : Tecra
*/

fieldset{
    
    font-family: monospace;
    font-size: 20px;
    width: 500px;
    margin: auto;
    background-color: azure;
}
input{
    border-radius: 6px;
}